@mixin clearfix() { // this mixin is used to clear floats and make sure that the parent element contains the floated elements
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin absCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Meadia Queries manager
/* 
0 - 600px: Mobile devices
600px - 900px:      Tablet portrait
900px - 1200px:     Tablet landscape
1200px - 1800px:    Desktop
1800px + :          Big desktop
*/

/* 
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

*/

//em are best option for media queries

// ORDER base + typography > gernal layout + grid > page layout > components

@mixin respond($breakpoint){
  @if $breakpoint == phone {
    @media (max-width: 37.5em){@content}; // 600px
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em){@content}; // 900px
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em){@content};  // 1200px
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em){@content}; // 1800px
  }

}